<h1>Пересмотр сломанных сайтов</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>URL</th>
			<th>Скриншот</th>
			<th>Результат проверки</th>
		</tr>
	</thead>
	<tbody>
		<% sites.forEach(site => { %>
			<tr>
				<td><a href="<%= site.url %>" target="_blank"><%= site.url %></a></td>
				<td><a href="/api/site/<%= site.id %>/screenshot" target="_blank">Скриншот</a></td>
				<td>
					<button type="button" class="btn btn-success btn-xs approve" data-id="<%= site.id %>">Работает</button>
					<button type="button" class="btn btn-danger btn-xs disable" data-id="<%= site.id %>">Сломан</button>
				</td>
			</tr>
		<% }) %>
	</tbody>
</table>

<script src="/js/broken.js?v=<%= version() %>"></script>