<h1><%= getText('show_broken') %></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>URL</th>
			<th><%= getText('screenshot') %></th>
			<th><%= getText('check_result') %></th>
		</tr>
	</thead>
	<tbody>
		<% sites.forEach(site => { %>
			<tr>
				<td><a href="<%= site.url %>" target="_blank"><%= site.url %></a></td>
				<td><a href="/api/site/<%= site.id %>/screenshot" target="_blank"><%= getText('screenshot') %></a></td>
				<td>
					<button type="button" class="btn btn-success btn-xs approve" data-id="<%= site.id %>">
            <%= getText('is_working') %>
          </button>
					<button type="button" class="btn btn-danger btn-xs disable" data-id="<%= site.id %>">
            <%= getText('is_broken') %>
          </button>
				</td>
			</tr>
		<% }) %>
	</tbody>
</table>


<script>
  window.signs = <%- JSON.stringify(frontSigns()) %>;
</script>


<script src="<%= fromPublic('js/broken.js') %>"></script>
