<h1><%= getText('edit_config') %></h1>

<div class="row" v-show="!loading" style="display: none;">
  <div class="col-xs-12">
    <button type="button" @click="switchTab('users')" :class="[getTabClass('users')]" class="btn tab">
      <%= getText('config_categories.users') %>
    </button>

    <button type="button" @click="switchTab('assessment')" :class="[getTabClass('assessment')]" class="btn tab">
      <%= getText('config_categories.assessment') %>
    </button>

    <button type="button" @click="switchTab('tech')" :class="[getTabClass('tech')]" class="btn tab">
      <%= getText('config_categories.tech') %>
    </button>


    <form autocomplete="off">
      <div class="settings-block tech-settings" v-show="activeTab === 'tech'">
        <div v-for="(fieldSet, fIndex) in techSettings" v-if="fieldSet.visible !== 0">
          <config-fieldset
            :field-set="fieldSet"
            :available-data-sets="availableDataSets"
            :show-randomly-property-value="showRandomlyPropertyValue"
            :key="fieldSet.id"
          ></config-fieldset>
        </div>

        <div class="form-group">
          <button @click.prevent="updateConfig()" type="submit" class="btn btn-primary">
            <%= getText('submit') %>
          </button>
        </div>
      </div>


      <div class="settings-block assessment-settings" v-show="activeTab === 'assessment'">
        <user-instructions-controller :instructions="instructions"></user-instructions-controller>

        <div v-for="(fieldSet, fIndex) in assessmentSettings" v-if="fieldSet.visible !== 0">
          <config-fieldset
            :field-set="fieldSet"
            :available-data-sets="availableDataSets"
            :show-randomly-property-value="showRandomlyPropertyValue"
            :key="fieldSet.id"
          ></config-fieldset>
        </div>

        <div class="form-group">
          <button @click.prevent="updateConfig()" type="submit" class="btn btn-primary">
            <%= getText('submit') %>
          </button>
        </div>
      </div>


      <div class="settings-block users-settings" v-show="activeTab === 'users'">
        <users-controller></users-controller>
      </div>
    </form>
  </div>
</div>


<script>
  window.signs = <%- JSON.stringify(frontSigns()) %>;

  window.config = <%- JSON.stringify(config) %>;
  window.availableDataSets = <%- JSON.stringify(availableDataSets) %>;

  window.instructions = <%- JSON.stringify(instructionsPageHTML) %>

  window.users = <%- JSON.stringify(users) %>
  window.roles = <%- JSON.stringify(roles) %>
  window.statuses = <%- JSON.stringify(statuses) %>
</script>

<link rel="stylesheet" href="<%= fromPublic('css/lib/codemirror/codemirror.css') %>">
<link rel="stylesheet" href="<%= fromPublic('css/lib/codemirror/mdn-like.css') %>">

<script src="<%= fromPublic('js/lib/codemirror/codemirror.js') %>"></script>
<script src="<%= fromPublic('js/lib/codemirror/xml.js') %>"></script>
<script src="<%= fromPublic('js/lib/codemirror/autorefresh.js') %>"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>

<script src="<%= fromPublic('js/components/ConfigFieldSet.js') %>"></script>
<script src="<%= fromPublic('js/components/UserInstructionsController.js') %>"></script>
<script src="<%= fromPublic('js/components/UsersController.js') %>"></script>
<script src="<%= fromPublic('js/config.js') %>"></script>
