<!DOCTYPE html>

<title>Mass labeling</title>


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">


<div class="container">
	<div class="jumbotron" style="margin-top: 20px;">
		<h1><%= getText('error_occurred') %></h1>
		<p><%= getText('unprocessed_error') %></p>
		<p><%= getText('code') %>: <%= status %></p>
		<p><%= getText('message') %>: <%= error %></p>
		<p><%= getText('try_variants') %>:</p>
		<p><a class="btn btn-primary btn-lg" href="/"><%= getText('go_to_main') %></a></p>
	</div>
</div>
