<div class="jumbotron">
	<h1>Mass labeling</h1>

	<p><%= getText('auth_required') %></p>

	<div class="row">
		<div class="col-xs-4">
			<form id="login">
				<div class="form-group form-group-lg">
					<label for="email">E-mail</label>
					<input type="email" id="email" class="form-control">
				</div>
				<div class="form-group form-group-lg">
					<label for="password"><%= getText('password') %></label>
					<input type="password" id="password" class="form-control">
				</div>
				<button class="btn btn-primary btn-lg"><%= getText('sign_in') %></button>
			</form>
		</div>
	</div>
</div>

<script>
  window.signs = {
    auth_error: "<%= getText('auth_error') %>",
  };
</script>

<script src="<%= fromPublic('js/index.js') %>"></script>
