<!DOCTYPE html>

<title>Mass labeling</title>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="<%= fromPublic('bundles/css/layout.css') %>">

<script src="<%= fromPublic('bundles/vendor.js') %>"></script>

<div class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">Mass labeling</a>
		</div>

		<ul class="nav navbar-nav">
			<% if (user && user.role === 'admin') { %>
				<!--<li><a href="/user/list"><%= getText('users') %></a></li>-->

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= getText('stats') %> <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/stat/markup"><%= getText('markup') %></a></li>
						<li><a href="/stat/abnormal"><%= getText('anomalies') %></a></li>
						<li><a href="/stat/abnormal-local"><%= getText('local_anomalies') %></a></li>
					</ul>
				</li>
			<% } %>

			<li><a href="/instruction.html" target="_blank"><%= getText('tutorial') %></a></li>
		</ul>

		<div class="navbar-right">
      <% include ./partials/lang-switcher %>

			<% if (user) { %>
				<p class="navbar-text"><%= user.email %></p>

				<ul class="nav navbar-nav">
          <% if (user && user.role === 'admin') { %>
					  <li><a href="/config"><%= getText('settings') %></a></li>
          <% } %>

					<li><a href="#" id="logout"><%= getText('logout') %></a></li>
				</ul>
			<% } %>
		</div>
	</div>
</div>
<div class="container">
	<%- body %>
</div>

<script>
  window.signs = <%- JSON.stringify(frontSigns()) %>;
</script>

<script src="<%= fromPublic('bundles/layout.js') %>"></script>
