<h1><%= getText('users') %></h1>
<div class="form-group">
	<a href="/user/add" type="button" class="btn btn-primary"><%= getText('user_add') %></a>
</div>

<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>E-mail</th>
				<th><%= getText('status') %></th>
				<th><%= getText('role') %></th>
				<th><%= getText('actions') %></th>
			</tr>
		</thead>
		<tbody>
			<% users.forEach(curUser => { %>
				<tr class="<%= curUser.status === 'disabled' ? 'text-muted' : ''%> <%= curUser.role === 'admin' ? 'text-bold' : ''%>">
					<td><%= curUser.email %></td>
					<td><%= statuses[curUser.status] %></td>
					<td><%= roles[curUser.role] %></td>
					<td>
						<a href="/user/<%= curUser.id %>/edit" type="button" class="btn btn-warning btn-xs">
              <%= getText('edit') %>
            </a>
						<button type="button" class="btn btn-primary btn-xs create-slider" data-id="<%= curUser.id %>">
              <%= getText('gen_slider') %>
            </button>
						<a href="/slider/<%= curUser.email %>" type="button" class="btn btn-success btn-xs">
              <%= getText('open_slider') %>
            </a>
					</td>
				</tr>
			<% }) %>
		</tbody>
	</table>
</div>


<script>
  window.signs = {
    slider_created: "<%= getText('slider_created') %>",
    error: "<%= getText('error') %>",
  };
</script>


<script src="<%= fromPublic('js/user/list.js') %>"></script>
