<h1><%= getText('local_abnormal_stats') %></h1>

<p><%= getText('permissible_variation') %>:</p>
<div class="form-group">
	<div class="btn-group">
		<% diffs.forEach(curDiff => { %>
			<a href="/stat/abnormal-local/<%= curDiff %>" class="btn <%= curDiff === diff ? 'btn-primary' : 'btn-default' %>"><%= curDiff %></a>
		<% }) %>
	</div>
</div>

<% if (diff) { %>
	<div class="row">
		<div class="col-xs-6">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>E-mail</th>
						<th><%= getText('anomalies_count') %></th>
					</tr>
				</thead>
				<tbody>
					<% users.forEach(curUser => { %>
						<tr>
							<td><%= curUser.email %></td>
							<td><%= curUser.abnormalCount %></td>
						</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
<% } %>
