<h1><%= getText('markup_stats') %></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>E-mail</th>
			<th><%= getText('scored_sites_count') %></th>
		</tr>
	</thead>
	<tbody>
		<% users.forEach(curUser => { %>
			<tr>
				<td><%= curUser.email %></td>
				<td><%= curUser.markupCount %></td>
			</tr>
		<% }) %>
	</tbody>
</table>


<script>
  window.signs = <%- JSON.stringify(frontSigns()) %>;
</script>
